body{
    background-color:azure;
}
.nav { background-color: #bdc3c7; 
    overflow: auto;    
    position: absolute; top: 0;left:0;
    width: 100%;
    height: 58px;
}
.nav ul { margin: 0; padding: 20px;}
.nav ul li { display: inline; margin: 0; padding: 20px;}
.nav ul li:hover { background-color: white; color: black; cursor: pointer} 
.left { float: left; } 
.right { float: right; }
.first-section img{ float: left;width: 400px;margin-right: 20px;}
.first-section p {display: inline}
.second-section img{ float: right;width: 400px;}
.second-section ul{text-align: center;}
.second-section h2{text-align: center;margin-top: 40px;}
h1{
    padding-left: 10px;
    font-weight:bolder ;
    text-shadow: 4px 5px 6px #245371;
    font-family: Arial;
}
h2{
    padding-left: 10px;
    font-weight:bolder ;
    text-shadow: 5px 5px 5px #bdc3c7;
    font-family: Arial;
}
.content{
    position: absolute;top: 58px;left: 20%;
    width: 60%;
    padding: 10px;
    background-color: white;
    height: 100%;
}
.box{
    position: absolute;left:0;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
}
.box img{
    position: absolute;left:10px;
    height: 200px;
    width: 200px;
}
.box h2{
    position: absolute; left:210px;top:0;
}
.box p{
    position: absolute;left:230px;top: 50px;
}
a{
    color: black;
}
.box:hover{
    background-color: rgb(175, 174, 174);
}
p{
    font-size: large;
}