body{
    background-color:azure;
}
.content {
    overflow: auto; 
    text-align: center;
}
.left {
    float: left;
    width: 50%;
}
.right {
    float: right;
    width: 50%;
}
table {
    border-collapse: collapse;
    width: 100%; 
    margin-top: 20px; 
}

th, td {
    border: 1px solid black; 
    text-align: left; 
    padding: 8px; 
}